{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="site-hero site-sm-hero overlay" data-stellar-background-ratio="0.5"
         style="background-image: url({% static 'images/big_image_2.jpg' %});">
    <div class="container">
        <div class="row align-items-center justify-content-center site-hero-sm-inner">
            <div class="col-md-7 text-center">
                <div class="mb-5 element-animate">
                    <h1 class="mb-2">About Us</h1>
                    <p class="bcrumb"><a href="index-2.html">Home</a> <span
                            class="sep ion-android-arrow-dropright px-2"></span> <span class="current">About Us</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="site-section element-animate">
    <div class="container">
        <div class="row">
            {% for i in about %}
            <div class="col-md-6 order-md-2">
                <div class="block-16">
                    <figure>
                        <img src="{{i.image.url}}" alt="Image placeholder" class="img-fluid">
                    </figure>
                </div>
            </div>
            <div class="col-md-6 order-md-1">
                <div class="block-15">
                    <div class="heading">
                        <h2>{{i.title}}</h2>
                    </div>
                    <div class="text mb-5">
                        <p>{{i.description}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="site-section pt-3 element-animate">
    <div class="container">
        <div class="row justify-content-center mb-5 element-animate">
            <div class="col-md-7 text-center section-heading">
                <h2 class="text-primary heading">School Services</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit qui neque sint eveniet tempore
                    sapiente.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="media block-6 d-block">
                    <div class="icon mb-3"><span class="flaticon-book"></span></div>
                    <div class="media-body">
                        <h3 class="heading">Knowledge is power</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit mess.</p>
                        <p><a href="#" class="more">Read More <span class="ion-arrow-right-c"></span></a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="media block-6 d-block">
                    <div class="icon mb-3"><span class="flaticon-student"></span></div>
                    <div class="media-body">
                        <h3 class="heading">Senior High School</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit mess.</p>
                        <p><a href="#" class="more">Read More <span class="ion-arrow-right-c"></span></a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="media block-6 d-block">
                    <div class="icon mb-3"><span class="flaticon-diploma"></span></div>
                    <div class="media-body">
                        <h3 class="heading">College of Arts &amp; Sciences</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit mess.</p>
                        <p><a href="#" class="more">Read More <span class="ion-arrow-right-c"></span></a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="media block-6 d-block">
                    <div class="icon mb-3"><span class="flaticon-professor"></span></div>
                    <div class="media-body">
                        <h3 class="heading">Unmatched Proffessor</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit mess.</p>
                        <p><a href="#" class="more">Read More <span class="ion-arrow-right-c"></span></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container site-section element-animate">
    <div class="row justify-content-center mb-5 element-animate">
        <div class="col-md-7 text-center section-heading">
            <h2 class="text-primary heading">Why Choose Us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit qui neque sint eveniet tempore
                sapiente.</p>
        </div>
    </div>
    {% for i in choose %}
        {% if i.id|divisibleby:2 %}
            <div class="block-3 d-md-flex pt-5">
            <div class="image" style="background-image: url('{{i.image.url}}'); "></div>
            <div class="text">
                <h4 class="subheading">Nice text here</h4>
                <h2 class="heading">{{i.title}}</h2>
                <p>{{i.desription}}</p>
            </div>
        </div>
        {% else %}
            <div class="block-3 d-md-flex">
            <div class="image order-2" style="background-image: url('i.image.url'); "></div>
            <div class="text order-1">
                <h4 class="subheading">Nice text here</h4>
                <h2 class="heading">{{i.title}}</h2>
                <p>{{i.description}}</p>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>
<div class="site-section element-animate">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center section-heading">
                <h2 class="text-primary heading">Frequently Ask Questions</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit qui neque sint eveniet tempore
                    sapiente.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="accordion block-8" id="accordion">
                    {% for i in faq %}
                    <div class="accordion-item">
                        <h3 class="mb-0 heading">
                            <a class="btn-block" data-toggle="collapse" href="#collapseOne" role="button"
                               aria-expanded="true" aria-controls="collapseOne">{{i.question}}<span
                                    class="icon"></span></a>
                        </h3>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                             data-parent="#accordion">
                            <div class="body-text">
                                <p>{{i.answer}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}